.bor {
  height: 0.3140096618357488rem;
  width: 100%;
  background: #e0e0e0;
}
#shop_header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.42512077294686rem;
  background: #ffd600;
  display: flex;
}
#shop_header .city {
  height: 1.42512077294686rem;
  line-height: 1.42512077294686rem;
  position: absolute;
  top: 0;
  left: 1.4492753623188406rem;
  right: 1.4492753623188406rem;
  text-align: center;
}
#shop_header .city b {
  font-weight: 16.908212560386474rem;
  font-size: 0.3864734299516908rem;
  width: 4.492753623188406rem;
  height: 0.48309178743961356rem;
  text-align: center;
}
#shop_header span {
  width: 1.42512077294686rem;
  height: 1.42512077294686rem;
  line-height: 2.4154589371980677rem;
  text-align: center;
  position: absolute;
  right: 0.024154589371980676rem;
  background: url(../../images/a1.png) no-repeat 0.43478260869565216rem 0.2898550724637681rem;
  background-size: 0.6038647342995169rem auto;
  font-size: 0.2898550724637681rem;
}
#shop_top {
  height: 1.42512077294686rem;
}
#shop_main {
  position: relative;
}
#shop_main .shop_hot {
  position: absolute;
  left: 0;
  overflow-y: scroll;
  height: 14.97584541062802rem;
}
#shop_main .shop_hot ul {
  background: #f8f8f8;
  width: 2.3746376811594203rem;
}
#shop_main .shop_hot ul li {
  height: 1.2560386473429952rem;
  text-align: center;
  line-height: 1.2560386473429952rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
#shop_main .shop_hot ul li:nth-of-type(2) {
  position: relative;
}
#shop_main .shop_hot ul li:nth-of-type(2) img {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.8454106280193237rem;
}
#shop_main .shop_all {
  position: absolute;
  right: 0;
  width: 7.48792270531401rem;
}
#shop_main .shop_all .shop_ta {
  width: 100%;
  display: flex;
  align-items: center;
  height: 1.2560386473429952rem;
  border-bottom: 1px solid #e0e0e0;
}
#shop_main .shop_all .shop_ta a {
  width: 50%;
  background: url(../../images/downjian.png) no-repeat 80%;
  background-size: 0.3864734299516908rem;
  text-indent: 12%;
}
#shop_main .shop_all .shop_ta a:first-of-type {
  border-right: 1px solid #e0e0e0;
}
#shop_main .shop_duck {
  position: absolute;
  right: 0;
  top: 1.2560386473429952rem;
  width: 7.48792270531401rem;
  height: 13.526570048309178rem;
  overflow-y: scroll;
  background: #fff;
}
#shop_main .shop_duck ul li {
  display: flex;
  height: 2.8260869565217392rem;
  padding: 0.14492753623188406rem;
  border-bottom: 1px solid #e0e0e0;
}
#shop_main .shop_duck ul li .shop_up {
  padding: 0.07246376811594203rem;
  width: 40%;
  height: 100%;
}
#shop_main .shop_duck ul li .shop_up img {
  width: 98%;
}
#shop_main .shop_duck ul li .shop_down {
  position: relative;
  width: 64%;
}
#shop_main .shop_duck ul li .shop_down p {
  margin: 0 0 0.0966183574879227rem 0;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#shop_main .shop_duck ul li .shop_down b {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 0.8606280193236716rem;
  height: 0.8606280193236716rem;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background: #ff0000 url(../../images/product_operate-57bf1d7b.png) no-repeat -1.0628019323671498rem;
  background-size: 1.9323671497584543rem;
}
#shop_main .shop_duck ul li .shop_down .shop_down_one {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#shop_main .shop_duck ul li .shop_down .shop_down_two {
  display: flex;
}
#shop_main .shop_duck ul li .shop_down .shop_down_two span {
  width: 0.8454106280193237rem;
  height: 0.43478260869565216rem;
  color: red;
  border: 1px solid red;
  font-size: 0.2898550724637681rem;
  text-align: center;
  border-radius: 3px;
}
#shop_main .shop_duck ul li .shop_down .shop_down_two a {
  height: 0.43478260869565216rem;
  width: 1.497584541062802rem;
  background: red;
  border-radius: 3px;
  font-size: 0.2898550724637681rem;
  color: #fff;
  text-align: center;
  margin: 0 0 0 0.1932367149758454rem;
}
#shop_main .shop_duck ul li .shop_down .shop_down_three {
  color: #999;
}
#shop_main .shop_duck ul li .shop_down .shop_down_four span {
  color: red;
}
#shop_main .shop_duck ul li .shop_down .shop_down_four a {
  color: #999;
  text-decoration: line-through;
  margin: 0 0 0 0.07246376811594203rem;
}
#shop_footer {
  background-color: rgba(246, 246, 246, 0.95);
  position: fixed;
  bottom: 0;
  width: 100%;
}
#shop_footer ul {
  width: 100%;
  display: flex;
}
#shop_footer ul li {
  width: 25%;
  height: 1.497584541062802rem;
  text-align: center;
}
#shop_footer ul li div {
  display: flex;
  height: 0.8695652173913043rem;
}
#shop_footer ul li div img {
  width: 0.6038647342995169rem;
  height: 0.6038647342995169rem;
  margin: auto;
}
#shop_footer ul li p {
  font-size: 0.33816425120772947rem;
  color: #777;
}


.shop_tab_mon {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 19%;
  right: 0;
  height: 0.8695652173913043rem;
  width: 2.608695652173913rem;
}
.shop_tab_mon .shop_s1 {
  height: 0.8695652173913043rem;
  width: 0.8695652173913043rem;
  background: #ff0000 url(../../images/product_operate-57bf1d7b.png);
  background-size: 1.6908212560386473rem;
  border-radius: 50%;
  border: 1px solid red;
  visibility: hidden;
}
.shop_tab_mon .shop_s3 {
  height: 0.8695652173913043rem;
  width: 0.8695652173913043rem;
  background: #ff0000 url(../../images/product_operate-57bf1d7b.png) right center;
  background-size: 1.6908212560386473rem;
  border-radius: 50%;
  border: 1px solid red;
}
.shop_tab_mon .shop_s2 {
  height: 0.8695652173913043rem;
  line-height: 0.8695652173913043rem;
  width: 0.8695652173913043rem;
  text-align: center;
   visibility: hidden;
}
.list_i{
  position: absolute;
  top: 0.04830917874396135rem;
  left: 0;
  background: yellow;
  height: 1.0869565217391304rem;
  width: 0.12077294685990339rem;

}